<ion-header>
  <ion-navbar>
    <ion-title>
      Estadisticas Curso y General
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-select [(ngModel)]="curso" (ngModelChange)="cambiar($event)" placeholder="Seleccione una Asignatura">
        <ion-option *ngFor="let data of cursosbuffer" [value]="data.code">
                    {{ data.nombre }}
        </ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

 
  <canvas id="canvas">
    </canvas>
</ion-content>